In [20]:
# #!/bin/bash
# !kaggle datasets download prachi13/customer-analytics

In [29]:
import zipfile
import os

HOME = os.getcwd()

HOME

# zip_file_path = 'customer-analytics.zip'

# extract_to_path = 'data'

# with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
#     zip_ref.extractall(extract_to_path)

'c:\\Users\\lamph\\github\\E-commerce\\JYS'

In [30]:
import pandas as pd 
import numpy as np


Train = pd.read_csv(os.path.join(HOME, 'data','Train.csv'))

### 구하고자 하는 것

### 검증용 데이터 분리

In [36]:
from sklearn.model_selection import train_test_split

# 1. stratify 옵션을 써서 정답(Reached.on.Time_Y.N) 비율을 유지하며 8:2로 나눕니다.
# 이 함수는 내부적으로 데이터를 랜덤하게 섞어주기 때문에 sample을 따로 안 써도 됩니다.
part1, part2 = train_test_split(train_df, 
                                test_size=0.2, 
                                random_state=42, 
                                stratify=train_df['Reached.on.Time_Y.N'])

# 2. 각각 파일로 저장
part1.to_csv('data/train_df.csv', index=False)
part2.to_csv('data/test_df.csv', index=False)

print("데이터 분할 및 저장 완료!")
print(f"학습용: {part1.shape}, 테스트용: {part2.shape}")

데이터 분할 및 저장 완료!
학습용: (7039, 12), 테스트용: (1760, 12)

In [37]:
train_df = pd.read_csv('data/train_df.csv')
test_df = pd.read_csv('data/test_df.csv')

In [38]:
train_df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,7253,C,Road,5,4,257,3,medium,F,3,4895,1
1,10549,D,Flight,3,4,199,3,medium,M,10,4925,1
2,454,B,Ship,4,1,275,10,medium,F,23,2726,1
3,1157,C,Ship,4,5,262,3,medium,F,38,3139,1
4,2170,B,Road,5,1,165,3,low,F,37,1228,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7034,4206,F,Ship,5,2,243,3,low,M,4,5415,0
7035,3016,B,Flight,3,1,104,2,low,M,1,1021,1
7036,5210,F,Flight,4,5,263,3,medium,F,6,5445,0
7037,5339,C,Flight,2,5,254,2,low,M,10,5718,1
7038,2973,A,Ship,3,4,228,2,medium,M,46,3306,1